[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "BinNonNor"]
	path = BinNonNor
	url = https://github.com/cran/BinNonNor
[submodule "BinNor"]
	path = BinNor
	url = https://github.com/cran/BinNor
[submodule "BinOrdNonNor"]
	path = BinOrdNonNor
	url = https://github.com/cran/BinOrdNonNor
[submodule "BivUnifBin"]
	path = BivUnifBin
	url = https://github.com/cran/BivUnifBin
[submodule "CorrToolBox"]
	path = CorrToolBox
	url = https://github.com/cran/CorrToolBox
[submodule "MultiOrd"]
	path = MultiOrd
	url = https://github.com/cran/MultiOrd
[submodule "MultiRNG"]
	path = MultiRNG
	url = https://github.com/cran/MultiRNG
[submodule "OrdNor"]
	path = OrdNor
	url = https://github.com/cran/OrdNor
[submodule "PoisBinNonNor"]
	path = PoisBinNonNor
	url = https://github.com/cran/PoisBinNonNor
[submodule "PoisBinOrd"]
	path = PoisBinOrd
	url = https://github.com/cran/PoisBinOrd
[submodule "PoisBinOrdNonNor"]
	path = PoisBinOrdNonNor
	url = https://github.com/cran/PoisBinOrdNonNor
[submodule "PoisBinOrdNor"]
	path = PoisBinOrdNor
	url = https://github.com/cran/PoisBinOrdNor
[submodule "PoisNonNor"]
	path = PoisNonNor
	url = https://github.com/cran/PoisNonNor
[submodule "PoisNor"]
	path = PoisNor
	url = https://github.com/cran/PoisNor
[submodule "UnivRNG"]
	path = UnivRNG
	url = https://github.com/cran/UnivRNG
